* {
  box-sizing: border-box;
}

[id*="slide-"] {
  display: none;
}

.container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  position: relative;
  width: 640px;
}

#s-1,
#s-2,
#s-3 {
  display: none;
}

#slide-1:checked ~ * #s-1,
#slide-2:checked ~ * #s-2,
#slide-3:checked ~ * #s-3 {
  display: block;
}

#slide-1:checked ~ * #d-1,
#slide-2:checked ~ * #d-2,
#slide-3:checked ~ * #d-3 {
  background-color: white;
}

.dots-wrapper {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 30px);
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dots {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  caret-color: transparent;
}

.arrows-wrapper-left {
  position: absolute;
  bottom: 160px;
  left: 50px;
}

.arrows-wrapper-right {
  position: absolute;
  bottom: 160px;
  right: 50px;
}

.arrow {
  display: block;
  font-size: 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  caret-color: transparent;
}

#ar-1,
#al-1,
#ar-2,
#al-2,
#ar-3,
#al-3 {
  display: none;
}

#slide-1:checked ~ * #al-3,
#slide-1:checked ~ * #ar-2,
#slide-2:checked ~ * #al-1,
#slide-2:checked ~ * #ar-3,
#slide-3:checked ~ * #al-2,
#slide-3:checked ~ * #ar-1 {
  display: block;
}

.title {
  position: absolute;
  bottom: 60px;
  left: 120px;
  width: 400px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;

  &-header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &-desc {
    font-size: 10px;
  }
}

.slide {
  animation-name: fade-in;
  animation-duration: 0.5s;
  caret-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
